<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="fetchdata()">Get data</button>

    <div id="xyz"></div>
    <script>
        async function fetchdata() {
            const formData = new FormData()
            formData.append('uid', 'apni uid')
            formData.append('password', 'apna pass')

            let response = await fetch('/api', {
                method: 'POST',
                body: formData
            });
            let result = await response.json();
            console.log(result);
            document.getElementById('xyz').innerHTML += JSON.stringify(result)
        }
    </script>
</body>

</html>